/*
Color pallette:
#47ADF1 waterblue
#64C0A9 Seafoam green
#9C72E4 Liliac
#F29E33 Orange
#D963A1 Pink
#B0C926 Green
#F6F8F9 Pale Grey
#FFFFFF White
*/

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}


.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }

.waterblue{
    color: #47ADF1;
}

.liliac{
    color: #9C72E4;
}

.orange{
    color: #F29E33;
}

.pink{
    color: #D963A1;
}

.green{
    color: #B0C926;
}

.pale-grey-bg{
    background-color: #F6F8F9;
}

.white-bg{
    background-color: #FFFFFF;
}

.black{
    color: black;
}


#header-container{
    background-color: #ffffff;
    height: 100px;
}

#header-container span{
    display: inline-block;
}
